{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <h1>Products</h1>
    {% for product in products %}
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="card">
            <img src="{{ url_for('static', filename=product [4]) }}" class="card-img-top img-fluid" alt="{{ product.ProductName }}">
            <div class="card-body">
                <h5 class="card-title">{{ product [1] }}</h5>
                <p class="card-text">{{ product[2] }}</p>
                <p class="card-text">{{ product[3] }}</p>
                <!-- Additional product details here -->
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

